{
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "cva"],
  "tailwindConfig": "tailwind.config.ts"
}
